/* Removes all margins & padding on everything so they can be fully customised */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* Adding a background image of a star galaxy as it goes with the name "Science Star", incase image doesn't load then #353535 is used as backup */
body {
    background-image: url("../images/science.jpg");
    background-color: #353535;
    background-size: cover;
    font-family: Garamond, serif;
  }

/* Text and titles */
h1 {
    font-family: 'Star Wars', sans-serif;
    font-size: 3rem;
    font-weight: 200;
    padding-top: 0.2rem;
    font-style: italic;
    color: #ffffff;
    text-align: center;
  }