/* Fonts import */
@import url('https://fonts.cdnfonts.com/css/star-wars');

/* Removes all margins & padding on everything so they can be fully customised */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* Adding a background image of a star galaxy as it goes with the name "Science Star", incase image doesn't load then #353535 is used as backup */
body {
    background-image: url("../images/science.jpg");
    background-color: #353535;
    background-size: cover;
    font-family: Garamond, serif;
}

/* Text and titles */
h1 {
    font-family: 'Star Wars', sans-serif;
    font-size: 3rem;
    font-weight: 200;
    padding-top: 0.2rem;
    font-style: italic;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-size: 1rem;
    text-align: left;
    font-weight: 5000;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p {
    text-align: left;
    font-size: 0.75rem;
    padding-bottom: 1.5rem;
}
  
a {
    text-decoration: none;
}
  
p.answer-count,
p.score-area {
    padding-bottom: 1rem;
}

#highscoreslist {
    list-style: none;
}

li {
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 0.5rem;
}
  
/*- Containers -*/
/* Flex container*/
.flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
  
}

/* Outer container */
#outer-container {
    background-color: #ffffff;
    opacity: 0.9;
    width: 80%;
    margin: auto;
    padding: 1rem;
    color: #353535;
    border-radius: 1.5rem;
}

/* Button groups */
.btn-group {
    display: flex;
    justify-content: center;
}

/* Score counter */
#counter-area {
    display: flex;
    justify-content: space-between;
}
  
/*- Buttons -*/
/* Customising the button layout and adding custom emoji when hovered over */
.btn {
    font-family: 'Courier New', monospace;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    padding: 0.75rem;
    background-color: #d9d9d9;
    border-radius: 3rem;
    color: #353535;
    margin: 0.3rem;
    box-shadow: -2px -2px 5px #353535 inset;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌟</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

/* Hover on buttons to allow for proper selection */
.btn:hover {
    background-color: #d9d9d9;
    color: #353535;
    box-shadow: -5px -7px 10px #3c6e71 inset;
}

.btn[disabled]:hover {
    cursor: not-allowed;
}

/* Next question button, different styling for differentiaiton */
.next-btn {
    background-color: #d9d9d9;
    color: #353535;
}

.next-btn:hover {
    background-color: #353535;
    color: #d9d9d9;
}

/*- Cosmetic styling -*/

/* Styling to hide from display */
.hide {
    display: none;
}

/* Styling for correct choice */
.correct {
    border: green 0.75rem solid;
}
  
.correctbtn {
    background-color: green;
}

/* Styling for incorrect choice */
.incorrect {
    border: red 0.75rem solid;
}
  
.incorrectbtn {
    background-color: red;
}

/*- High Score -*/

/* Alter form display type and input configuration */
form {
    display: flex;
    flex-direction: column;
}

input {
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    color: #d9d9d9;
    padding: 0.75rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 2rem;
    text-align: center;
}

/*- Modal -*/
/* Modal container styling */
#modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

/* Changed the modal opacity to be visable */
#modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

/* Adding a border with rounded corners and padding around the modal content */
#modal-content {
    width: 70%;
    border: #3c6e71 7px solid;
    color: black;
    text-align: center;
}

/* Add margin to top of close modal button */
#close-modal {
    margin-top: 3rem;
}

/* Modal background colour change and additional padding */
.modal {
    background-color: #ffffff;
    padding: 20px 20px;
}


/*- Media queries -*/